<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>
        Book2
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="
    sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <style>

        .rating {
            display: inline-block;
        }
        
        .pages {
            display: inline-block;
        }
        
        .pagesno {
            display: inline-block;
        }
        
        .btn {
            width: 180px;
            height: 40px;
        }
        
        .btn-outline-secondary {
            color: rgb(31, 60, 180);
        }
        
        .book_description {
            margin-right: 400px;
        }
        
        .book_img {
            display: inline-block;
            margin-left: 500px;
        }
        .book_img img {
            width: 300px;
            height: auto;
            display: inline-block;
            /* bottom: 240px; */
        }

        @media (min-width: 767px) {
            .book_img img {
            width: 300px;
            height: auto;
                display: inline-block;
            bottom: 150px;
        }
}
        .about_book {
            display: inline-block;
        }
        
        .star-img:hover {
            background-color: #339933;
            border: none;
        }
        
        .footer-text {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg  navitem">
            <div class="container-fluid">
               <a href="/"> <img src="{% static "img/title.png" %}" alt="..." height="50px" width="500px" class="ms-3">
               </a>
                <button class="navbar-toggler" id="navtoogle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    {% comment %} <span class="navbar-toggler-icon"></span>   {% endcomment %}
                    <img src="{% static "img/menu.png" %}" style="width: 20px;height: auto; margin-right: 30px; width: 30px; height: 50px;" alt="--">
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item fw-medium">
                            <a class="nav-link" href="/game/">Games</a>
                        </li>
                        <li class="nav-item fw-medium">
                            <a class="nav-link" href="/app/" >Apps</a>
                        </li>
                        <img src="{% static "img/Games-Images/sun.png" %}" id="icon">
                    </ul>
                    <form class="d-flex"  action="search/" method="get">
                        <!-- <input class="form-control mx-5" placeholder="Search" size="60px">-->
                        <input name="query" style="color: black; background-color: white;" class="form-control me-5" type="search" placeholder="Search" aria-label="Search" size="60px">
                    </form>
                </div>
            </div>
        </nav>
    </header>        
    <div class="container">
        <div class="about_book">
            <h1 class="mt-4" style="font-size: 60px;"> <b style="color:var(--primary-color);"> {{ app.name }} </b></h1>
            <div class="mt-4 text-success fs-6 fw-bolder">{{ app.name }}</div>
            <span>contains ads-In-app purchases</span>


            <div class="mt-3">
                <div class="rating ">

                    <span class="ms-4">{{ app.rating|floatformat:1  }}★</br>{{ app.rating_no }}+ reviews</span>
                </div>
                <div class="pages ms-5">
                    <p class="ms-2">{{ app.download_no }}+</p>
                    <p>Downloads</p>
                </div>
                <div class="pagesno ms-5">
                    <P class="ms-4">12+</P>
                    <p>Rated for 12+</p>
                </div>
            </div>
            <div class="mt-4">
                <a href="#" id="install-button"  style="text-decoration: none;">
                <button type="button" class="btn btn-success fs-3 pb-5 rounded-4">Install</button>
                </a>
                <a href="" id="sharelink"  style="text-decoration: none;">
                <img src="{% static "img/Apps-Images/share.png" %}" height="40px" width="40px" class="ms-1" />
                <p class="d-inline-block text-success">Share</p>
            </a>
            </div>
        </div>
        <div class="book_img rounded-5" style="border: none;">
            <img class="shadow-lg card rounded-5" style="border: none;" src="{{ app.image.url }}" />
        </div>
        <p class="mt-3">This app is available for all of your devices</p>
        <div class="mt-4">
            <div class="d-inline-block">
                <h4 class="mt-4" id="datasafety" style="color:var(--primary-color);">Data Safety</h4>
            </div>
            <div class="d-inline-block">
                <img src="{% static "img/Apps-Images/right-arrow.png" %}" height="20px" width="20px" class="d-inline-block ms-1 " />
            </div>
        </div>
        <p>Safety starts with understanding how developers collect and share your data. Data privacy and security practices may <br>vary based on your use, region and age The developer provided this information and may update it over time.</p>

        <h4 style="color:var(--primary-color);"> Rate this app</h4> 
        <p>Tell others what you think.</p>
        {% if msg %}
        <div class="alert alert-success">

            {{ msg }}
        </div>

        {% endif %}
        <div>
                <a href="/rate/{{ app.id }}/1" style="text-decoration: none;">
            <img  src="{% static "img/Apps-Images/star (1).png" %}" height="40px" width="40px" class="star-img" />
        </a>   <a href="/rate/{{ app.id }}/2"  style="text-decoration: none;">
            <img  src="{% static "img/Apps-Images/star (1).png" %}" height="40px" width="40px" class="star-img" />
        </a>   <a href="/rate/{{ app.id }}/3"  style="text-decoration: none;">
            <img  src="{% static "img/Apps-Images/star (1).png" %}" height="40px" width="40px" class="star-img" />
        </a>   <a href="/rate/{{ app.id }}/4"  style="text-decoration: none;">
            <img  src="{% static "img/Apps-Images/star (1).png" %}" height="40px" width="40px" class="star-img" />
        </a>   <a href="/rate/{{ app.id }}/5"  style="text-decoration: none;">
            <img  src="{% static "img/Apps-Images/star (1).png" %}" height="40px" width="40px" class="star-img" />
        </a>
            <!-- <div class="d-inline-block">
                <button type="button" class="btn btn-success rounded-3" style="margin-left: 350px;">Write Review</button>
            </div> -->
        </div>
    </div>
    <div class="mt-4">
        <div class="d-inline-block">
            <h4 style="margin-left: 120px; color:var(--primary-color);" class="mt-4">Ratings and reviews</h4>
        </div>
        <div class="d-inline-block">
            <img src={% static "img/Apps-Images/right-arrow.png" %} height="20px" width="20px" class="d-inline-block ms-3 " />
        </div>
    </div>
    <p class="Semibold weight text " style="font-size: 60px;margin-left: 120px;">{{ app.rating|floatformat:1 }}</p>
    <!-- <img src="{% static "img/Apps-Images/rating.png" %}" height="80px" width="80px" class="mt-1" style="margin-left: 120px;" /> -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <hr class="mx-5 " style="color:var(--primary-color);">


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Attach event listener to button
            document.querySelector("#install-button").addEventListener("click", function(event) {
                event.preventDefault(); // Prevent default button action
    
                var downloadLink = "{{ app.download_link }}"; // Get the download link from Django context
    
                // Make the API request to increase downloads
                fetch('/increasedownload/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token if using Django
                    },
                    body: JSON.stringify({
                        // Pass any required data if needed
                        'app_id': '{{ app.id }}' // Example payload
                    })
                })
                .then(response => response.json())
                .then(data => {
                    // After successful API call, redirect to the download link
                    window.location.href = downloadLink;
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Optionally handle errors, e.g., show a message to the user
                });
            });
        });
    </script>
     <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get the current URL
            var currentUrl = window.location.href;

            // Set the href attribute of #sharelink to the current URL
            var shareLink = document.getElementById('sharelink');
            shareLink.href = currentUrl;

            // Add click event listener to copy the URL to clipboard
            shareLink.addEventListener('click', function(event) {
                event.preventDefault();  // Prevent default anchor action
                navigator.clipboard.writeText(currentUrl).then(function() {
                    alert('URL copied to clipboard: ' + currentUrl);
                }, function(err) {
                    console.error('Failed to copy: ', err);
                });
            });
        });
    </script>
    
<script>
    var icon = document.getElementById("icon");

// Check the saved theme on page load
if (localStorage.getItem("theme") === "dark") {
    document.body.classList.add("dark-theme");
    icon.src = "{% static 'img/Games-Images/moon.png' %}";
} else {
    document.body.classList.remove("dark-theme");
    icon.src = "{% static 'img/Games-Images/sun.png' %}";
}

icon.onclick = function(){
    document.body.classList.toggle("dark-theme");

    if(document.body.classList.contains("dark-theme")){
        icon.src = "{% static 'img/Games-Images/moon.png' %}";
        localStorage.setItem("theme", "dark"); // Save the dark theme preference
    }
    else{
        icon.src = "{% static 'img/Games-Images/sun.png' %}";
        localStorage.setItem("theme", "light"); // Save the light theme preference
    }
}

</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>