<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>ultramods</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{% static 'css/game.css' %}" rel="stylesheet">
    <style>
      @media (max-width: 768px) {
    .game-item {
        flex: 1 1 calc(50% - 30px); /* 2 items per row on smaller screens */
        max-width: calc(50% - 30px); /* Ensure items fit in a row */
        margin-left: 500px;

    }
    h5{
      color: red;
    }

}

    </style>
</head>
<body>
    <!--Navbar section-->
    <header>
        <nav class="navbar navbar-expand-lg  navitem">
            <div class="container-fluid">
                <a href="/"> <img src="{% static "img/title.png" %}" alt="..." height="50px" width="500px" class="ms-3">
                </a>
                <button class="navbar-toggler" id="navtoogle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    {% comment %} <span class="navbar-toggler-icon"></span>   {% endcomment %}
                    <img src="{% static "img/menu.png" %}" style="width: 20px;height: auto; margin-right: 30px; width: 30px; height: 50px;" alt="--">
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item fw-medium">
                            <a class="nav-link" href="/game/">Games</a>
                        </li>
                        <li class="nav-item fw-medium">
                            <a class="nav-link" href="/app/" >Apps</a>
                        </li>
                        <img src="{% static "img/Games-Images/sun.png" %}" id="icon">
                    </ul>
                    <form class="d-flex"  action="search/" method="get">
                        <!-- <input class="form-control mx-5" placeholder="Search" size="60px">-->
                        <input name="query" style="color: black; background-color: white;" class="form-control me-5" type="search" placeholder="Search" aria-label="Search" size="60px">
                    </form>
                </div>
            </div>
        </nav>
    </header>         

    <!--Image auto-slider section-->
   
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/Games-Images/1_OSVptnNeegbjhnSWo2V_qw[2].jpg' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/Games-Images/fortnite-jungle-3840x2160-11907.jpeg' %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/Games-Images/fortnite-superlevel-styles[2].webp' %}" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    
    <div class="container featuregame">
        <div class="row" id="featured-game-list">
            {% for app in app_data %}
            <div class="col-lg-3 mt-5 game-item">
                <a href="{% url 'app-detail' id=app.id %}" style="text-decoration: none; color: inherit;">
                <div class="img">
                    <img src="{{ app.image.url }}" height="200" width="350" class="img-fluid" alt="{{ app.name }}">
                </div>
                <div class="d-flex">
                    <div class="img">
                        <img src="https://play-lh.googleusercontent.com/DDwl4oKqYD9tLgas79qNQ-2oQ_O0gT3O0ZyBoFvrgm6UzI5qEjHFbMsnhTQ-MjqOqMU=s64-rw" class="card-img-top channel logo mt-1 mx-2" alt="Video Thumbnail">
                    </div>
                    <div class="description">
                        <h5>{{ app.name }}</h5>
                        <span class="subtext"> Rating -> {{ app.rating|floatformat:1  }} *</span>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
        </div>
    
        <div class="d-flex justify-content-between mt-4">
            {% if app_data.has_previous %}
            <a href="?page={{ app_data.previous_page_number }}" class="btn btn-dark" style="background-color: rgb(56, 53, 53);">Back</a>
            {% else %}
            <span class="btn btn-dark disabled" style="background-color: rgb(56, 53, 53);">Back</span>
            {% endif %}
    
            {% if app_data.has_next %}
            <a href="?page={{ app_data.next_page_number }}" class="btn btn-dark" style="background-color: rgb(56, 53, 53);">Next</a>
            {% else %}
            <span class="btn btn-dark disabled" style="background-color: rgb(56, 53, 53);">Next</span>
            {% endif %}
        </div>
    </div>
    
    
    <footer class="mainfooter" role="contentinfo" >
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>ULTRAMODS</h4>
                            <ul class="list-unstyled" >
                                <li ><a href="#" style="text-decoration: none;">Play Pass</a></li>
                                <li><a href="#" style="text-decoration: none;">Play Points</a></li>
                                <li><a href="#" style="text-decoration: none;">Gift Card</a></li>
                                <li><a href="#" style="text-decoration: none;">Redeem</a></li>
                                <li><a href="#" style="text-decoration: none;">Refund Policy</a></li>
                                <li><a href="#" style="text-decoration: none;">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4>Children and Family</h4>
                            <ul class="list-unstyled">
                                <li><a href="#" style="text-decoration: none;">Parent guide</a></li>
                                <li><a href="#" style="text-decoration: none;">Family sharing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'img/ultramods.png' %}" class="blackplay" width="260" height="170">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center" >
                            <a href="term/" style="text-decoration: none; margin-right: 10px;" >Terms of service</a>
                            <a href="policy/" style="text-decoration: none; margin-right: 10px;">Policy</a>
                            <a href="about/" style="text-decoration: none; margin-right: 10px;">About Ultramods</a>
                            <a href="developers/" style="text-decoration: none; margin-right: 10px;">Developers</a>
                            <a href="#" style="text-decoration: none;">All prices include GST.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
   
   

<script>
    var icon = document.getElementById("icon");

// Check the saved theme on page load
if (localStorage.getItem("theme") === "dark") {
    document.body.classList.add("dark-theme");
    icon.src = "{% static 'img/Games-Images/moon.png' %}";
} else {
    document.body.classList.remove("dark-theme");
    icon.src = "{% static 'img/Games-Images/sun.png' %}";
}

icon.onclick = function(){
    document.body.classList.toggle("dark-theme");

    if(document.body.classList.contains("dark-theme")){
        icon.src = "{% static 'img/Games-Images/moon.png' %}";
        localStorage.setItem("theme", "dark"); // Save the dark theme preference
    }
    else{
        icon.src = "{% static 'img/Games-Images/sun.png' %}";
        localStorage.setItem("theme", "light"); // Save the light theme preference
    }
}

</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
